<div class="background ">
  <div class="row">
    <div class="background one-half column">
<!--      mettre les dates en bleu variable et les experiences en vert string-->
      <h3>Expériences professionnelles</h3>
      <ul>
        <li>
          <span class="date">2017 – 2019</span> <span class="strong">  Conducteur de machine en production fromagère</span>
          - Petit Billy – Triballat Noyal
        </li>
        <li>
          <span class="date">2016 – 2017</span> <span class="strong"> Ouvrier agricole-cidrier </span>-Régis
          Tropée « Val de la Chèvre » - La Bouëxière
        </li>
        <li>
          <span class="date">2016 </span>- <span class="strong">  Vendeur rayon fromagerie- charcuterie </span>-
          Intermarché Rennes Longchamps
        </li>
        <li>
          <span class="date">2011 - 2015</span> <span class="strong"> ouvrier agricole-berger </span>- Aveyron
          (12)
        </li>
        <li>
          <span class="date">2009 - 2010</span> <span class="strong">  Recruteur de donateurs - </span>Paris
        </li>
        <li>
          <span class="date">2008 - 2009</span> <span class="strong"> Agriculteur</span> - Oise
        </li>
        <li>
          <span class="date">2006 - 2008</span> <span class="strong"> Préparateur de commande - Intérim </span>–
          Seine-et-Marne (77)
        </li>
      </ul>
    </div>
    <div class="studies one-half column">
      <h3>Formations</h3>
      <ul>
        <li><span class="strong"> Web@cadémie - EPITECH</span> - 2020-2022</li>
        <li> <span class="strong">B.P.R.E.A. Ovin-Lait option transformation fromagère</span> – 2013</li>
        <li> <span class="strong">B.P.R.E.A. Grandes Cultures </span>– 2009</li>
        <li><span class="strong"> Baccalauréat S </span>- 2006</li>
      </ul>
    </div>

  </div>

</div>
