<div class=" home">
  <div class="container">


    <div class="container">
      <h1>Nicolas Demeyère Dos Santos</h1>
    </div>
    <div class="container">
      <p><em>Développeur/intégrateur web - fullstack</em></p>
    </div>
  </div>
  <div class="">
    <div class="about ">

      <p>Après avoir travaillé dans l'agriculture et l'agroalimentaire, j'ai décidé de changer de métier et de renouer
        avec ma passion d'adolescent: l'informatique.
        C'est pourquoi j'ai choisi de reprendre mes études dans le milieu du dévelloppement Web, études que je termine
        actuellement a la web@cadémie d'Epitech<br/>
        D'un naturel enthousiaste, dynamique et volontaire, je sais m'integrer a toute équipe de travail, et souhaite
        apprendre le plus possible.</p>
    </div>

    <div class="container">
      <h3>De berger à développeur web</h3>
    </div>
    <p>Pour préciser ma situation, La Web@cademy est une formation de reconversion professionnelle de 2 ans,
      La première année est consacrée à l'apprentissage du code: un an à dévellopper des projets concrets à plein temps,
      essentiellement en php et javascript (et leurs frameworks: symfony, laravel, nodeJS, angular, react...).<br/>
      La 2e année est de l'approfondissement et de l'élargissement du champs des possibles : Python-Flask, Ruby on rails, GO ...<br/>
      Alternés avec une éxpérience en entreprise, chez Purecontrol où j'ai renforcé mes capacités de déboguage, de lecture de code historique
      ainsi que mes connaissances en php et javascript.
  </p>

</div>
