<div class=" home">
  <div class="container">


    <div class="container">
      <h1>Nicolas Demeyère Dos Santos</h1>
    </div>
    <div class="container">
      <p><em>Etudiant Epitech - Web@cadémie</em></p>
      <p><em>Développeur/intégrateur web - Alternant</em></p>
    </div>
  </div>
  <div class="">
    <div class="about ">

      <p>Après avoir travaillé dans l'agriculture et l'agroalimentaire, j'ai décidé de changer de métier et de renouer
        avec ma passion d'adolescent: l'informatique.
        C'est pourquoi j'ai choisi de reprendre mes études dans le milieu du dévelloppement Web, études que je poursuis
        actuellement a la web@cadémie d'Epitech
        , et pour lesquelles je cherche une alternance.<br/>
        D'un naturel enthousiaste, dynamique et volontaire, je sais m'integrer a toute équipe de travail, et souhaite
        apprendre le plus possible.</p>
    </div>

    <div class="container">
      <h3>De berger à développeur web</h3>
    </div>
    <div>Pour préciser ma situation, La Web@cademy est une formation de reconversion professionnelle de 2 ans, la première année se finit à la fin du mois de septembre et s'est déroulée à plein temps.
      À partir de septembre commence une année en alternance : 3 semaines en entreprises, une semaine à l'école, pour approfondir les connaissances acquises la première année.</div>
  </div>

</div>
