<div class="form-box">
  <h1>me contacter</h1>
  <form #formData="ngForm" (ngSubmit)="onFormSubmit(formData)" action="" method="post">

    <label for="email">Email</label>
    <input id="email" type="email" name="contact" ngModel>

    <label for="name">sujet</label>
    <input id="name" type="text" name="sujet" ngModel>

    <label for="message">Message</label>
    <textarea id="message" name="message" ngModel></textarea>
    <input class="button submit" type="submit" value="Envoyer"/>
  </form>
  <p>
    <a href="/assets/CV_NicolasDDS.pdf" id="download" class="btn btn-default skills_cvBtn" download="CV_NicolasDDS.pdf">Télécharger
    mon cv</a></p>

<!--
  <p><a href="https://nicolasdossantos542.github.io/CV/">voir mon CV(web)</a></p>
-->


</div>
