
<div class="project-list">
  <div id="dircord" class="carousel slide" style="width:600px" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/projects/dircord/login_small.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/dircord/bbcodes.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/dircord/join.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/dircord/messenger.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <p>Application de chat en ligne, express/socket.io et react</p>
    <button class="carousel-control-prev" type="button" data-bs-target="#dircord" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#dircord" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="battleship" class="carousel slide" style="width:600px" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/projects/battleship/explosion.png" class="d-block w-100 h-20" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/battleship/home.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/battleship/ingame.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/battleship/placement.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <p>Jeu de bataille navale en javascript</p>
    <button class="carousel-control-prev" type="button" data-bs-target="#battleship" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#battleship" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="freeads" class="carousel slide" style="width:600px" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/projects/freeads/annonce.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/freeads/connect.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/freeads/home.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/freeads/signin.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <p>site de petites annonces laravel</p>
    <button class="carousel-control-prev" type="button" data-bs-target="#freeads" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#freeads" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="my_quizz" class="carousel slide" style="width:600px" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/projects/my_quizz/main-page.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/my_quizz/stats-quizz.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/my_quizz/stats-quizzplus.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/projects/my_quizz/stats-user.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <p>Site collaboratif de quizz, Symfony</p>
    <button class="carousel-control-prev" type="button" data-bs-target="#my_quizz" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#my_quizz" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="espri" class="carousel slide" style="width:600px" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
              <a href="http://ludilogie.fr/espri/home" target="_blank"><img class="d-block w-100"
                                                            src="/assets/images/projects/espri/espri_small.png"
                                                            alt="projet espri" title="Projet perso: fiche de personnage pour le jeu de rôle ESPRI"></a>
              <p>Projet perso: fiche de personnage pour le jeu de rôle ESPRI</p>
      </div>

    </div>

  </div>

</div>
