<div class="">
  <div class="ide row">
    <div class=" two columns">
      <ul class=" menu container">
        <div class="profile-pic"><img src="/assets/images/fox_icon_by_macrovectorFromFreepix.png" alt="image de profil"></div>
        <li (click)="chooseDisplayed('home')">accueil</li>
        <li (click)="chooseDisplayed('background')">parcours</li>
        <li (click)="chooseDisplayed('skills')">compétences</li>
        <li (click)="chooseDisplayed('projects')">projets</li>
        <li (click)="chooseDisplayed('contact')">contact</li>
      </ul>


    </div>
    <div class="editor ten columns">
      <div class="editor-menu">
        <div class="editor-tab one column" id="home" (click)="chooseDisplayed('home')" *ngIf="tab.isHomeActive">
          <div class="two columns">Accueil.html</div>
          <div class="close-button" (click)="closeTab('home')"><img src="/assets/images/closing-cross-small.png"
                                                                    height="10px" alt="closing cross"></div>
        </div>
        <div class="editor-tab one column" id="background" (click)="chooseDisplayed('background')"
             *ngIf="tab.isBackgroundActive">
          <div class="two columns">Parcours.html</div>
          <div class="close-button" (click)="closeTab('background')"><img src="/assets/images/closing-cross-small.png"
                                                                          height="10px" alt="closing cross"></div>
        </div>
        <div class="editor-tab  one column" id="skills" (click)="chooseDisplayed('skills')" *ngIf="tab.isSkillActive">
          <div class="two columns">Compétences.html</div>
          <div class="close-button" (click)="closeTab('skills')"><img src="/assets/images/closing-cross-small.png"
                                                                      height="10px" alt="closing cross"></div>
        </div>
        <div class="editor-tab  one column" id="projects" (click)="chooseDisplayed('projects')"
             *ngIf="tab.isProjectsActive">
          <div class="two columns">Projets.html</div>
          <div class="close-button" (click)="closeTab('projects')"><img src="/assets/images/closing-cross-small.png"
                                                                        height="10px" alt="closing cross"></div>
        </div>
        <div class="editor-tab  one column" id="contact" (click)="chooseDisplayed('contact')"
             *ngIf="tab.isContactActive">
          <div class="two columns">Contact.html</div>
          <div class="close-button" (click)="closeTab('contact')"><img src="/assets/images/closing-cross-small.png"
                                                                       height="10px" alt="closing cross"></div>
        </div>
      </div>
      <div class="row">
        <div class="liner one column">
          <div *ngFor="let item of [].constructor(200); let i = index">
            {{i}}
          </div>
        </div>
        <div class="eleven columns">
          <app-home *ngIf="link.isHomeActive"></app-home>
          <app-background *ngIf="link.isBackgroundActive"></app-background>
          <app-skills *ngIf="link.isSkillActive"></app-skills>
          <app-projects *ngIf="link.isProjectsActive"></app-projects>
          <app-contact *ngIf="link.isContactActive"></app-contact>
        </div>
      </div>
    </div>
  </div>
  <div class="console row">
    <div class="console-menu">
      <div id="console-tab">Contact x</div>
    </div>
    <app-console></app-console>
  </div>
</div>

