
.ide {
  height: 60vh;
  background-color: #171C28;
}

.menu {
  margin-top: 10vh;
  margin-left: 25%;
  list-style: none;
  background-color: #171C28;

}

.editor {

  height: 60vh;
  background-color: #1D2433;
}

.editor-menu {
  height: 3rem;
  background-color: #1D2433;
  border-bottom: 1px solid #8b8b8b;
  margin-bottom: 20px;
}

.editor-tab {
  height: 100%;
  min-width: 180px;
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 0;
  border-right: 1px solid #8b8b8b;
  border-radius: 0 0 20px 0;
}
.editor-tab:hover{
  background-color: #171C28;
}
.editor-tab:active{
  background-color: #414855;
}
.close-button {
  float: right;
  margin-left: 34px;
}

.console {
  height: 40vh;
  background-color: #1D2433;
}

.console-menu {
  height: 25px;
  background-color: #414855;
  border-top: 1px solid #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
  margin-bottom: 20px;
}

#console-tab {
  display: inline-block;
  padding-right: 5px;
  border-right: 1px solid #8b8b8b;
  border-left: 1px solid #8b8b8b;
}
