<div class="skills">
  <div class="row">
    <div class=" one-third column">
      <div class="global-skills">
        <h3> Compétences générales</h3>
        <ul>
          <li> Analyser les besoins du client</li>
          <li> Établir un cahier des charges</li>
          <li> Déterminer des mesures correctives</li>
          <li> Traiter l'information</li>
          <li> Animer une réunion</li>
          <li> Analyser des problèmes techniques</li>
          <li> Présenter un produit fini à son commanditaire</li>
          <li> Présentation/ vente d'un produit</li>
          <li> Sécuriser un équipement</li>
        </ul>
      </div>


    </div>
    <div class=" one-third column">
      <div class="new-skills">
        <h3>compétences techniques</h3>
        <ul>
          <li class="code">React-express-MongoDB: </li>
          <li>Mise en place d'un système utilisateur</li>
          <li>Gestion d'article (CRUD)</li>
          <li>Gestion administrateur depuis le site</li>
          <li>API express</li>
        </ul>
        <ul>
          <li class="code">Laravel - Symfony - Mysql : </li>
          <li>Mise en place d'un système utilisateur</li>
          <li>Gestion d'article (CRUD)</li>
          <li>Gestion Administrateur depuis le site</li>
          <li>Gestion de l'envoi d'emails</li>
        </ul>
        <ul>
          <li class="code">PHP : </li>
          <li>Algorithmie</li>
          <li>Gestion de fichiers</li>
          <li>API pour un site react</li>
        </ul>
      </div>
    </div>
    <div class="one-third column">
      <h3>Savoir-être</h3>
      <ul>
        <li> Intérêt/appétence pour le numérique en général</li>
        <li> Sens du relationnel client</li>
        <li> Capacité au travail en équipe</li>
        <li> Volonté d'apprentissage</li>
        <li> Autonomie, sens de l'initiative</li>
        <li> Persévérance</li>
      </ul>
    </div>
  </div>

</div>
