<div class="skills">
  <div class="row">
    <div class=" one-half column">
      <div class="global-skills">
        <h3> Compétences générales</h3>
        <p id="bracket">(retransmission de certaines compétences acquises dans mes différents métiers, applicables tous
          domaines)</p>
        <ul>
          <li> Analyser les besoins du client</li>
          <li> Établir un cahier des charges</li>
          <li> Déterminer des mesures correctives</li>
          <li> Analyser des problèmes techniques</li>
        </ul>
      </div>
      <div>
        <h3>Savoir-être</h3>
        <ul>
          <li> Intérêt/appétence pour le numérique en général</li>
          <li> Sens du relationnel client</li>
          <li> capacité au travail en équipe</li>
          <li> Volonté d'apprentissage</li>
          <li> Pérsévérant </li>
          <li> Autonomie, sens de l'initiative</li>
          <li> Force de proposition</li>

        </ul>
      </div>

    </div>
    <div class=" one-half column">
      <div class="new-skills">
        <h3>Compétences Techniques</h3>
        <ul>

          <li><span class="code">React-express-MongoDB: </span><br>
            >Mise en place d'un système utilisateur, Gestion d'article (CRUD), Gestion administrateur depuis le
            site,
            API express</li>

          <li><span class="code">Laravel - Symfony - Mysql : </span><br>
            Mise en place d'un système utilisateur, Gestion d'article (CRUD), Gestion Administrateur depuis le
            site,
            Gestion de l'envoi d'emails</li>

          <li><span class="code">PHP : </span><br>
            >Algorithmie, Gestion de fichiers, API pour un site react</li>

          <li><span class="code">Ruby on rails : </span><br>
            >Gestion d'un CRUD complet avec SQLite en architecture MVC</li>

          <li><span class="code">Python - Flask : </span><br>
            >Gestion d'un CRUD complet avec frontend en angular<br>
            Scripts de creation/lectures de fichiers csv/json, initation aux pandas dataframe</li>

          <li><span class="code">Développement Responsable : </span><br>
            >Reprise d'un vieux projet pour améliorer la note SEO, l'accessibilité et les performances</li>
        </ul>

      </div>
    </div>


  </div>
  <div class="row">
    <app-dunningkruger></app-dunningkruger>
  </div>