<div class="d-k-content">
    <div class="left">
        <img src="/assets/images/dunning_kruger.png" (click)="setImageActive()" alt="courbe apprentissage/confiance"
            id="dunningkruger">

        <div *ngIf="this.isImageActive" (click)="setImageActive()">
            <app-dk-image></app-dk-image>
        </div>
    </div>
    <div class="right">
        <p>La courbe Dunning-Kruger est une courbe représentant la confiance en soi d'une personne concernant une
            compétence, au cours de son apprentissage.<br>
            Elle montre que le débutant se sent très confiant au début, ce qui donne des auto-évaluations très
            optimistes, puis est plus modeste par la suite avant de trouver un équilibre et une auto-évaluation plus
            près du réel quand il atteint une forme d'expertise<br>

            <a href="https://fr.wikipedia.org/wiki/Effet_Dunning-Kruger">Pour aller plus loin</a>
        </p>
        <p>Cela me semble interessant de me placer dessus du point de vue de mes compétences techniques au niveau global
            (toutes stack confondues)<br>
            Plus pour la partie confiance en mes capacités que pour la partie compétence. En effet, qui peut
            s'auto-évaluer corectement?<br>
            Bien sûr, il ne faut pas oublier les biais cognitif quand il s'agit d'auto-évaluation, surtout quand elle se
            base sur des critères subjectifs<br>
            La représentation ci-contre est une satyre qui ne représente pas les travaux dont elle est issue, mais elle
            reste pertinente selon moi pour les raisons précédentes <br>
            En plus, c'est amusant.</p>
    </div>
</div>